@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Nova+Mono&family=PT+Mono&family=Quicksand:wght@500;700");

:root.default-theme {
  --main-color: black;
  --background-color: whitesmoke;
  --background-color-two: lavenderblush;
  --accent-color: salmon;
  --accent-color-two: white;
  --accent-color-three: lightpink;
  --active-color: tomato;
  --active-color-two: white;
  --inactive-color: silver;
}

html {
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

body {
  height: 100vh;
  background-color: var(--background-color);
  color: var(--main-color);
  font-family: "Quicksand", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--background-color-two);
  border-bottom: 1px solid var(--accent-color-two);
}

.header-top-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

h1 {
  font-family: "Electrolize";
  color: var(--accent-color);
  font-size: x-large;
  text-align: center;
  padding-top: 5px;
}

button:hover {
  cursor: pointer;
}

nav.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav.top-nav button {
  height: 20px;
  background-color: var(--background-color-two);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: medium;
  padding: 7px 8px 5px;
}

nav.top-nav button.btn-previous,
nav.top-nav button.btn-next {
  width: 25px;
}

nav.top-nav button:hover {
  background-color: var(--accent-color);
  color: var(--accent-color-two);
}

nav.breadcrumb-nav {
  font-size: medium;
  padding: 5px 10px 0px;
  margin: 0px 0px 10px;
}

span {
  padding: 0px 5px 0px;
}

span.accent {
  color: var(--accent-color);
  padding: 1px 6px 1px;
}

main {
  position: relative;
  z-index: 0;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 15px;
  padding-top: 110px;
}

button.view-all-projects,
button.toggle-project-settings {
  background-color: var(--background-color-two);
  color: var(--accent-color);
  border: none;
  font-family: "Quicksand";
  font-size: medium;
  text-decoration: underline;
  letter-spacing: 0.23px;
}

button.view-all-projects:hover,
button.toggle-project-settings:hover {
  color: var(--active-color);
  font-weight: 700;
  letter-spacing: 0px;
}

button.view-all-projects::after,
button.toggle-project-settings::after {
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  font-weight: 700;
}

.main-container {
  width: 100%;
}

.project-card,
.task-card {
  cursor: pointer;
  flex: 1;
  border: 1px solid var(--accent-color-three);
  border-radius: 10px;
  margin: 0px 0px 20px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color-three);
  color: var(--accent-color-two);
  font-family: "Quicksand";
  font-weight: bold;
  border-radius: 9px 9px 0px 0px;
  padding: 5px 8px 5px 5px;
}

.task-header-left {
  display: flex;
  align-items: center;
}

button.complete-task {
  background-color: var(--accent-color-three);
  border: none;
  color: var(--accent-color-two);
  font-size: large;
  padding: 0px 6px 0px;
}

.task-title {
  margin-left: 5px;
}

.task-title.complete {
  text-decoration: line-through;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

.task-header-right {
  display: flex;
  gap: 6px;
}

button.task-move-down,
button.task-move-up {
  background-color: var(--accent-three);
  color: var(--accent-color-two);
  border: none;
  font-weight: 700;
  padding: 0px 6px;
}

.project-details > div,
.task-details > div {
  background-color: var(--accent-color-two);
  font-size: small;
  padding: 5px 10px 5px 10px;
}

.project-details,
.task-details > .task-description {
  min-height: 35px;
}

.project-details > .task-bottom-row,
.task-details > .task-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-two);
  border-radius: 0px 0px 9px 9px;
  font-weight: 700;
}

button.task-due-date {
  cursor: pointer;
  background-color: var(--accent-three);
  color: var(--main-color);
  border: none;
  font-weight: 700;
}

button.project-options,
button.task-options {
  cursor: pointer;
  font-size: large;
  background-color: var(--accent-three);
  color: var(--main-color);
  border: none;
  font-weight: 700;
}

button.new-task {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: xx-large;
  border: 2px solid var(--accent-color-two);
  border-radius: 50px;
  background-color: var(--accent-color);
  color: var(--accent-color-two);
  padding: 0px 10px 0px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding: 5px;
}

footer a {
  font-family: "Electrolize";
  color: gray;
}
